body {
    color: $black;
    padding-top: 80px;
    @include regular;

    &:not(.is--dashboard) {
        background-image: url('/static/login-background.svg');
        background-size: cover;
    } 
}

p a {
  color: $black;
  text-decoration: none;
  @include bold;
}


@media screen and (min-width: $desktop) {
  body {
    background-color: $grey;
  }
}