{% extends 'dashboard_base.html' %}
{% from 'macros/animal.html' import item %}

{% block main %}

    <div class="introduction">
        <div class="inside">
            <h2 class="greets">Hi {{ current_user.username }}</h2>
            <p>Habe einen schönen Tag.</p>
        </div>
    </div>

    <div class="animal-slider">
        <div class="inside">

            <h3 class="animal-slider__title">Deine Fellnasen.</h3>

            <div class="animal-slider__items">
                {% for animal in animals %}
                    {{ item(id=animal.id, name=animal.name, type=animal.type, color=animal.color, race=animal.race) }}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}