* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  color: #323434;
  padding-top: 80px;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal; }
  body:not(.is--dashboard) {
    background-image: url("/static/login-background.svg");
    background-size: cover; }

p a {
  color: #323434;
  text-decoration: none;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

@media screen and (min-width: 1200px) {
  body {
    background-color: #f8f8f8; }
  .wrapper {
    padding-left: 20%; } }

.toast-title {
  font-weight: 700; }

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.toast-message a, .toast-message label {
  color: #FFF; }

.toast-message a:hover {
  color: #CCC;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  right: -.3em;
  top: -.3em;
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  -webkit-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: .8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  line-height: 1; }

.toast-close-button:focus, .toast-close-button:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

.rtl .toast-close-button {
  left: -.3em;
  float: left;
  right: .3em; }

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none; }

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 12px;
  right: 12px; }

.toast-bottom-right {
  right: 12px;
  bottom: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none; }

#toast-container * {
  box-sizing: border-box; }

#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #999;
  color: #FFF;
  opacity: .8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

#toast-container > div.rtl {
  direction: rtl;
  padding: 15px 50px 15px 15px;
  background-position: right 15px center; }

#toast-container > div:hover {
  box-shadow: 0 0 12px #000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer; }

#toast-container > .toast-info {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important; }

#toast-container > .toast-error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important; }

#toast-container > .toast-success {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important; }

#toast-container > .toast-warning {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important; }

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

#toast-container.toast-bottom-full-width > div, #toast-container.toast-top-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #51A351; }

.toast-error {
  background-color: #BD362F; }

.toast-info {
  background-color: #2F96B4; }

.toast-warning {
  background-color: #F89406; }

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000;
  opacity: .4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em; }
  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px; }
  #toast-container .toast-close-button {
    right: -.2em;
    top: -.2em; }
  #toast-container .rtl .toast-close-button {
    left: -.2em;
    right: .2em; } }

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em; }
  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px; }
  #toast-container .toast-close-button {
    right: -.2em;
    top: -.2em; }
  #toast-container .rtl .toast-close-button {
    left: -.2em;
    right: .2em; } }

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em; }
  #toast-container > div.rtl {
    padding: 15px 50px 15px 15px; } }

.inside {
  padding: 40px; }

.button,
input[type="submit"] {
  border-radius: 11px;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  background-color: #323434;
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }
  .button.is--outlined,
  input[type="submit"].is--outlined {
    background-color: transparent;
    border-width: 2px;
    border-color: #323434;
    border-style: solid;
    color: #323434; }

.bottom-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 60px 40px;
  z-index: 99;
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px; }

.bottom-container .title {
  font-size: 40px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.bottom-container .text {
  font-size: 18px;
  margin-bottom: 50px; }

.form-field {
  position: relative;
  margin-bottom: 20px; }

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #323434;
  border-radius: 11px;
  width: 100%;
  heigth: 60px;
  line-height: 60px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px; }
  input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #323434; }
  input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    color: #323434; }
  input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="date"]::-ms-input-placeholder, textarea::-ms-input-placeholder {
    opacity: 1;
    color: #323434; }
  input[type="text"]::placeholder,
  input[type="password"]::placeholder,
  input[type="date"]::placeholder,
  textarea::placeholder {
    opacity: 1;
    color: #323434; }

input[type="password"] {
  padding-right: 60px; }

input[type="submit"] {
  margin-top: 50px;
  cursor: pointer;
  font-size: 20px; }

.js--password-toggler {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

.color-picker {
  display: flex;
  justify-content: space-between; }
  .color-picker .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative; }
    .color-picker .color.is--active:after {
      content: ' ';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: white;
      border-radius: 50%;
      transform: translate(-50%, -50%); }

.footnote {
  margin-top: 20px;
  font-size: 16px;
  text-align: center; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  transition: all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  .header.is--active {
    background-color: #323434;
    color: white; }

.header .inside {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px; }

.header.is--active .logo {
  color: white; }

@media screen and (min-width: 1200px) {
  .header {
    width: 20%;
    background-color: white; } }

.logo {
  font-size: 18px;
  text-decoration: none;
  color: #323434;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 30px; } }

.burger {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer; }

.burger .inner {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.burger .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323434;
  border-radius: 3px;
  transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
  .burger .line:nth-child(1) {
    transform: translateY(-8px); }
  .burger .line:nth-child(3) {
    transform: translateY(8px); }

.burger.is--active .line {
  background-color: white; }
  .burger.is--active .line:nth-child(1) {
    transform: translateY(0) rotate(45deg); }
  .burger.is--active .line:nth-child(2) {
    opacity: 0; }
  .burger.is--active .line:nth-child(3) {
    transform: translateY(0) rotate(-45deg); }

@media screen and (min-width: 1200px) {
  .burger {
    display: none; } }

.navigation {
  background-color: #323434;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: scroll;
  border-top-width: 80px;
  border-top-style: solid;
  border-top-color: transparent;
  padding: 40px;
  color: white;
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  .navigation.is--active {
    transform: translateX(0); }

.navigation .main-links {
  list-style: none; }

.navigation .link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-bottom: 50px; }

@media screen and (min-width: 1200px) {
  .navigation {
    width: 20%;
    background-color: white;
    transform: translateX(0); }
  .navigation .link {
    color: #323434;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal; } }

.form-field {
  position: relative;
  margin-bottom: 20px; }

input, select {
  border-width: 1px;
  border-style: solid;
  border-color: #323434;
  border-radius: 11px;
  width: 100%;
  heigth: 60px;
  line-height: 60px;
  box-sizing: border-box;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input::-moz-placeholder, select::-moz-placeholder {
    opacity: 1;
    color: #323434; }
  input:-ms-input-placeholder, select:-ms-input-placeholder {
    opacity: 1;
    color: #323434; }
  input::-ms-input-placeholder, select::-ms-input-placeholder {
    opacity: 1;
    color: #323434; }
  input::placeholder, select::placeholder {
    opacity: 1;
    color: #323434; }

.animal-listing-item .inner-item {
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  display: block; }

.animal-listing-item .head {
  position: relative;
  height: 150px; }

.animal-listing-item .animal-img {
  position: absolute;
  width: 150px;
  height: auto;
  top: 50%;
  left: 50%;
  max-height: 95%;
  transform: translate(-50%, -50%); }

.animal-listing-item .data {
  position: relative; }

.animal-listing-item .data-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: 1; }

.animal-listing-item .data-content {
  position: relative;
  z-index: 2;
  padding: 20px; }

.animal-listing-item .type {
  font-size: 16px; }

.animal-listing-item .name {
  font-size: 24px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.animal-listing-item .race {
  font-size: 16px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.flying-button {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #323434;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  z-index: 9; }
  .flying-button:after, .flying-button:before {
    content: ' ';
    background-color: white;
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .flying-button:before {
    transform: translate(-50%, -50%) rotate(90deg); }

.imprint {
  background-color: white;
  padding-left: 40px;
  width: 90%; }

.imprint-section__titel {
  font-size: 21px;
  margin-bottom: 10px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.imprint-section__text {
  margin-bottom: 10px; }

.imprint-section__settlement-titel {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.imprint-section__settlement-text {
  margin-bottom: 10px;
  font-size: 14px; }

@media screen and (min-width: 1200px) {
  .imprint__inside {
    width: 60%; } }

.onboarding--stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 40px; }
  .onboarding--stage [data-stepmation-item] {
    transition: opacity 1s;
    opacity: 0; }
  .onboarding--stage .stepmation--active {
    opacity: 1; }

.onboarding--stage_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: none;
  background-color: white; }
  .onboarding--stage_item:last-child {
    background-color: transparent; }

.onboarding--stage .image {
  width: 100%;
  margin-bottom: 50px;
  text-align: center; }

.onboarding--stage img {
  width: 100%;
  max-width: 300px;
  height: auto; }

.onboarding--stage .title {
  font-size: 50px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.onboarding--stage .subtitle {
  font-size: 22px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.onboarding--stage_controller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.onboarding--stage_steps {
  display: flex; }

.onboarding--stage_step {
  background-color: #323434;
  border-radius: 4px;
  height: 8px;
  width: 8px;
  margin-right: 8px;
  transition: all 1s ease; }
  .onboarding--stage_step.is--active {
    width: 24px; }
  .onboarding--stage_step:last-child {
    margin-right: 0; }

.onboarding--stage_next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #323434;
  position: fixed;
  top: 20px;
  right: 20px; }
  .onboarding--stage_next img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px; }

.guide-module .buttons .button:first-child {
  margin-bottom: 24px; }

.introduction .greets {
  font-size: 40px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.introduction p {
  font-size: 18px; }

.animal-listing .animal-listing-item {
  margin-bottom: 40px; }

.animal-listing__title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

@media screen and (min-width: 1200px) {
  .animal-listing__items {
    display: flex;
    flex-wrap: wrap; }
  .animal-listing .animal-listing-item {
    width: 50%;
    border: 20px solid transparent; } }

.animal-details .stage {
  height: 280px;
  position: relative; }

.animal-details .stage__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 105%; }

.animal-details .head {
  text-align: center;
  margin-bottom: 40px; }

.animal-details .name {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px; }

.animal-details .race {
  font-size: 18px;
  line-height: 18px; }

.animal-details .data {
  display: flex;
  flex-wrap: wrap; }
  .animal-details .data .box {
    width: 50%;
    text-align: center;
    margin-bottom: 10px; }
    .animal-details .data .box:nth-child(1), .animal-details .data .box:nth-child(3) {
      border-right: 5px solid transparent; }
    .animal-details .data .box:nth-child(2), .animal-details .data .box:nth-child(4) {
      border-left: 5px solid transparent; }
  .animal-details .data .box-inner {
    padding: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden; }
  .animal-details .data .box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2; }
  .animal-details .data .type {
    font-size: 18px; }
  .animal-details .data .value {
    font-size: 24px;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal; }

.animal-details .notes {
  padding-top: 40px;
  padding-bottom: 40px; }
  .animal-details .notes .title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal; }
  .animal-details .notes p {
    font-size: 18px; }

.animal-details .actions {
  padding-top: 40px;
  padding-bottom: 20px; }
  .animal-details .actions .button {
    margin-bottom: 20px; }

.animal-slider__items {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap; }

.animal-slider__title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.animal-slider .animal-listing-item {
  width: 300px;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  flex: 0 0 auto; }

.iconlist__row {
  width: 100%;
  display: flex;
  align-items: center; }

.iconlist__icon {
  padding-right: 6px; }

.iconlist__text {
  padding-left: 6px; }

.doclisting {
  padding: 40px; }

.doc-listing__doc-item {
  margin-bottom: 20px; }

@media screen and (min-width: 1200px) {
  .doc-listing__items {
    display: flex;
    flex-wrap: wrap; }
  .doc-listing__items .doc-item {
    width: 50%;
    border: 20px solid transparent; } }

.doc-listing__title {
  font-size: 24px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.doc-listing__subtitle {
  font-size: 18px;
  margin-bottom: 40px; }

.doc-item {
  text-decoration: none;
  display: block; }

.doc-item__inside {
  background-color: rgba(253, 187, 69, 0.2);
  border-radius: 20px;
  padding: 20px; }

.doc-item__city {
  color: #fdbb45;
  font-size: 18px; }

.doc-item__name {
  font-size: 18px;
  color: #fdbb45;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.doc-item__street {
  font-size: 18px;
  color: #fdbb45; }

.doc-item__iconlist {
  margin-top: 20px; }

.doc-item__iconlist__text {
  color: #fdbb45; }

.doc-details__stage {
  position: relative;
  height: 280px;
  background-color: #fdbb45; }

.doc-details__stage-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.doc-details__content {
  padding: 40px;
  background-color: rgba(253, 187, 69, 0.2); }

.doc-details__name {
  color: #fdbb45;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.doc-details__street {
  color: #fdbb45;
  font-size: 18px; }

.doc-details__city {
  color: #fdbb45;
  font-size: 18px; }

.doc-details__iconlist {
  margin-top: 20px;
  margin-bottom: 20px; }

.doc-details__iconlist__text {
  color: #fdbb45;
  font-size: 18px; }

.doc-details__button {
  margin-bottom: 20px; }

.event-details__button {
  margin-bottom: 20px; }

.event-details__content {
  padding: 40px;
  background-color: rgba(253, 187, 69, 0.2); }

.event-details__date {
  color: #fdbb45;
  font-size: 21px;
  margin-bottom: 10px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.event-details__name {
  color: #fdbb45;
  font-size: 24px;
  margin-bottom: 4px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.event-details__event__text {
  font-size: 18px;
  color: #fdbb45;
  margin-bottom: 30px; }

.event-details__notes {
  font-size: 18px;
  color: #fdbb45;
  margin-bottom: 60px; }

.event-details__notes__text {
  font-size: 24px;
  color: #fdbb45;
  margin-bottom: 10px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.event-details__stage {
  position: relative;
  height: 280px; }

.event-details__stage-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.event-details__topic {
  font-size: 18px;
  color: #fdbb45;
  margin-bottom: 40px; }

.event-item-short__content {
  position: relative;
  z-index: 2;
  padding: 20px; }

.event-item-short__dog-name {
  font-size: 18px; }

.event-item-short__link-wrapper {
  position: relative;
  display: block;
  text-decoration: none;
  border-radius: 20px;
  overflow: hidden; }

.event-item-short__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.15; }

.event-item-short__time {
  font-size: 21px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.event-item-large__content {
  padding: 20px; }

.event-item-large__dog-name {
  font-size: 18px; }

.event-item-large__notes-title {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.event-item-large__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.15; }

.event-item-large__time {
  font-size: 21px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.event-item-large__topic {
  font-size: 18px;
  margin-bottom: 15px; }

.event-item-large__wrapper {
  position: relative;
  display: block;
  text-decoration: none;
  border-radius: 20px;
  overflow: hidden; }

.event-listing {
  padding-left: 20px;
  padding-right: 20px; }
  .event-listing .event-item-large {
    margin-bottom: 20px; }
  .event-listing .event-item-short {
    margin-bottom: 20px; }

.event-listing__title {
  font-size: 24px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

.event-listing__subtitle {
  font-size: 18px;
  margin-bottom: 40px; }

@media screen and (min-width: 1200px) {
  .event-listing__items {
    display: flex;
    flex-wrap: wrap; }
    .event-listing__items .event-item-large {
      width: 50%;
      padding: 10px; }
    .event-listing__items .event-item-short {
      width: 50%;
      padding: 10px; } }
