.button,
input[type="submit"] {
  border-radius: 11px;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  background-color: $black;
  color: $white;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  @include bold;

  &.is--outlined {
    background-color: transparent;
    border-width: 2px;
    border-color: $black;
    border-style: solid;
    color: $black;
  }
}
