.form-field {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: $black;
  border-radius: 11px;
  width: 100%;
  heigth: 60px;
  line-height: 60px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;

  &::placeholder {
    opacity: 1;
    color: $black;
  }
}


input[type="password"] {
  padding-right: 60px;
}
input[type="submit"] {
  cursor: pointer;
  font-size: 20px;
}

.js--password-toggler {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.color-picker {
  display: flex;
  justify-content: space-between;
  
  .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;

    &.is--active:after {
      content: ' ';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}