{% extends 'dashboard_base.html' %}

{% block main %}

    <div class="privacy">
        <div class="privacy__inside">

          <div class="privacy-section__titel">
            <p>Datenschutzerklärung</p>
            <p>Name und Kontakt des verantwortlichen gemäß Artikel 4 Abs. 7 DSGVO</p>

            <div class="privacy-section__text">
              <p>Muster GmbH</p>
              <p>Musterstraße 4</p>
              <p>D-12345 Musterstadt</p>
              <p>Telefon: +49 (0)123 456</p>
              <p>Email: demo@demo.de</p>
            </div>
          </div>

          <div class="privacy-section__privacy-content">

            <div class="privacy-section__privacy-titel">
              <p>Sicherheit und Schutz Ihrer personenbezogenen Daten</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>Wir betrachten es als unsere vorrangige Aufgabe, die Vertraulichkeit der von Ihnen bereitgestellten
                 personenbezogenen Daten zu wahren und diese vor unbefugten Zugriffen zu schützen. Deshalb wenden wir
                 äußerste Sorgfalt und modernste Sicherheitsstandards an, um einen maximalen Schutz Ihrer
                 personenbezogenen Daten zu gewährleisten. Als privatrechtliches Unternehmen unterliegen wir den
                 Bestimmungen der europäischen Datenschutzgrundverordnung (DSGVO) und den Regelungen des
                 Bundesdatenschutzgesetzes (BDSG). Wir haben technische und organisatorische Maßnahmen getroffen, die
                 sicherstellen, dass die Vorschriften über den Datenschutz sowohl von uns, als auch von unseren externen
                 Dienstleistern beachtet werden.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>Begriffsbestimmungen</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>Der Gesetzgeber fordert, dass personenbezogene Daten auf rechtmäßige Weise, nach Treu und Glauben und
                 in einer für die betroffene Person nachvollziehbaren Weise verarbeitet werden („Rechtmäßigkeit,
                 Verarbeitung nach Treu und Glauben, Transparenz“). Um dies zu gewährleisten, informieren wir Sie über
                 die einzelnen gesetzlichen Begriffsbestimmungen, die auch in dieser Datenschutzerklärung verwendet werden:</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>1. Personenbezogene Daten</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Personenbezogene Daten“ sind alle Informationen, die sich auf eine identifizierte oder identifizierbare
                  natürliche Person (im Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine natürliche
                  Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem
                  Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren
                  besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen,
                  psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>2. Verarbeitung</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Verarbeitung“ ist jeder, mit oder ohne Hilfe automatisierter Verfahren, ausgeführter Vorgang oder jede solche
                  Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das
                  Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die
                  Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die
                  Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>3. Einschränkung der Verarbeitung</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Einschränkung der Verarbeitung“ ist die Markierung gespeicherter personenbezogener Daten mit dem Ziel, ihre
                  künftige Verarbeitung einzuschränken.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>4. Profiling</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Profiling“ ist jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass diese
                  personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche Person
                  beziehen, zu bewerten, insbesondere um Aspekte bezüglich Arbeitsleistung, wirtschaftliche Lage, Gesundheit,
                  persönliche Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel dieser natürlichen
                  Person zu analysieren oder vorherzusagen.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>5. Pseudonymisierung</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Pseudonymisierung“ ist die Verarbeitung personenbezogener Daten in einer Weise, dass die personenbezogenen Daten
                  ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet werden
                  können, sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen und organisatorischen
                  Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten oder
                  identifizierbaren natürlichen Person zugewiesen werden können.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>6. Dateisystem</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Dateisystem“ ist jede strukturierte Sammlung personenbezogener Daten, die nach bestimmten Kriterien zugänglich sind,
                  unabhängig davon, ob diese Sammlung zentral, dezentral oder nach funktionalen oder geografischen Gesichtspunkten geordnet
                  geführt wird.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>7. Verantwortlicher</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Verantwortlicher“ ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder
                  gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet; sind die Zwecke
                  und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der Mitgliedstaaten vorgegeben, so können der
                  Verantwortliche beziehungsweise die bestimmten Kriterien seiner Benennung nach dem Unionsrecht oder dem Recht der
                  Mitgliedstaaten vorgesehen werden.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>9. Empfänger</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Empfänger“ ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, denen personenbezogene
                  Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten handelt oder nicht. Behörden, die im
                  Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem Recht der Mitgliedstaaten möglicherweise
                  personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger; die Verarbeitung dieser Daten durch die genannten
                  Behörden erfolgt im Einklang mit den geltenden Datenschutzvorschriften gemäß den Zwecken der Verarbeitung.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>10. Dritter</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>„Dritter“ ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, außer der betroffenen Person,
                  dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der unmittelbaren Verantwortung des Verantwortlichen
                  oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu verarbeiten.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>11. Einwilligung</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>Eine „Einwilligung“ der betroffenen Person ist jede freiwillig für den bestimmten Fall, in informierter Weise und unmissverständlich
                 abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen bestätigenden Handlung, mit der die betroffene
                 Person zu verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden personenbezogenen Daten einverstanden ist.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>Rechtmäßigkeit der Verarbeitung</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>Die Verarbeitung personenbezogener Daten ist nur rechtmäßig, wenn für die Verarbeitung eine Rechtsgrundlage besteht. Rechtsgrundlage
                 für die Verarbeitung können gemäß Artikel 6 Abs. 1 lit. a – f DSGVO insbesondere sein:</p>
              <ol class="privacy__text-indented">
                <li>Die betroffene Person hat ihre Einwilligung zu der Verarbeitung der sie betreffenden personenbezogenen Daten für einen oder
                    mehrere bestimmte Zwecke gegeben; </li>
                <li>die Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung
                    vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen;</li>
                <li>die Verarbeitung ist zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der der Verantwortliche unterliegt; </li>
                <li>die Verarbeitung ist erforderlich, um lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person
                    zu schützen; </li>
                <li>die Verarbeitung ist für die Wahrnehmung einer Aufgabe erforderlich, die im öffentlichen Interesse liegt oder in Ausübung
                    öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde; </li>
                <li>die Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern
                    nicht die Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten
                    erfordern, überwiegen, insbesondere dann, wenn es sich bei der betroffenen Person um ein Kind handelt. </li>
              </ol>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>Information über die Erhebung personenbezogener Daten </p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>(1) Im Folgenden informieren wir über die Erhebung personenbezogener Daten bei Nutzung unserer Website. Personenbezogene Daten sind
                 z. B. Name, Adresse, E-Mail-Adressen, Nutzerverhalten. </p>
              <p>(2) Bei einer Kontaktaufnahme mit uns per E-Mail oder über ein Kontaktformular werden die von Ihnen mitgeteilten Daten
                 (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre Telefonnummer) von uns gespeichert, um Ihre Fragen zu beantworten. Die in diesem
                 Zusammenhang anfallenden Daten löschen wir, nachdem die Speicherung nicht mehr erforderlich ist, oder die Verarbeitung wird
                 eingeschränkt, falls gesetzliche Aufbewahrungspflichten bestehen. </p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>Erhebung personenbezogener Daten bei Besuch unserer Website</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>Bei der bloß informatorischen Nutzung der Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen übermitteln,
                 erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten,
                 erheben wir die folgenden Daten, die für uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die Stabilität und
                 Sicherheit zu gewährleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DSGVO):</p>
              <ul class="privacy__text-indented">
                <li>IP-Adresse</li>
                <li>Datum und Uhrzeit der Anfrage</li>
                <li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
                <li>Inhalt der Anforderung (konkrete Seite)</li>
                <li>Zugriffsstatus/HTTP-Statuscode</li>
                <li>jeweils übertragene Datenmenge</li>
                <li>Website, von der die Anforderung kommt</li>
                <li>Browser</li>
                <li>Betriebssystem und dessen Oberfläche</li>
                <li>Sprache und Version der Browsersoftware</li>
              </ul>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>Einsatz von Cookies</p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>(1) Zusätzlich zu den zuvor genannten Daten werden bei der Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies
                 handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet gespeichert werden und
                 durch welche der Stelle, die den Cookie setzt, bestimmte Informationen zufließen. Cookies können keine Programme ausführen oder Viren
                 auf Ihren Computer übertragen. Sie dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen. </p>
              <p>(2) Diese Website nutzt folgende Arten von Cookies, deren Umfang und Funktionsweise im Folgenden erläutert werden: </p>
              <ul class="privacy__text-indented">
                <li>Transiente Cookies</li>
                <li>Persistente Cookies</li>
              </ul>
              <div class="privacy__text-indented">
                <p>1. Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen insbesondere die Session-Cookies.
                   Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen
                   lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die Session-Cookies werden gelöscht,
                   wenn Sie sich ausloggen oder den Browser schließen.</p>
                <p>1. Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann. Sie
                   können die Cookies in den Sicherheitseinstellungen Ihres Browsers jederzeit löschen. </p>
                <p>1. Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen konfigurieren und 2. die Annahme von Third-Party-Cookies oder allen
                   Cookies ablehnen. Sog. „Third Party Cookies“ sind Cookies, die durch einen Dritten gesetzt wurden, folglich nicht durch die eigentliche
                   Website auf der man sich gerade befindet. Wir weisen Sie darauf hin, dass Sie durch die Deaktivierung von Cookies eventuell nicht alle
                   Funktionen dieser Website nutzen können. </p>
                <p>2. Wir setzen Cookies ein, um Sie für Folgebesuche identifizieren zu können, falls Sie über einen Account bei uns verfügen. Andernfalls
                   müssten Sie sich für jeden Besuch erneut einloggen. </p>
              </div>
            </div>

            <div class="privacy-section__privacy-text">
              <p>Weitere Funktionen und Angebote unserer Website</p>
              <ol class="privacy__text-indented">
                <li>Neben der rein informatorischen Nutzung unserer Website bieten wir verschiedene Leistungen an, die Sie bei Interesse nutzen können.
                    Dazu müssen Sie in der Regel weitere personenbezogene Daten angeben, die wir zur Erbringung der jeweiligen Leistung nutzen und für
                    die die zuvor genannten Grundsätze zur Datenverarbeitung gelten.</li>
                <li>Teilweise bedienen wir uns zur Verarbeitung Ihrer Daten externer Dienstleister. Diese wurden von uns sorgfältig ausgewählt und beauftragt,
                    sind an unsere Weisungen gebunden und werden regelmäßig kontrolliert.</li>
                <li>Weiterhin können wir Ihre personenbezogenen Daten an Dritte weitergeben, wenn Aktionsteilnahmen, Gewinnspiele, Vertragsabschlüsse oder
                    ähnliche Leistungen von uns gemeinsam mit Partnern angeboten werden. Nähere Informationen hierzu erhalten Sie bei Angabe Ihrer
                    personenbezogenen Daten oder untenstehend in der Beschreibung des Angebotes.</li>
                <li>Soweit unsere Dienstleister oder Partner ihren Sitz in einem Staat außerhalb des Europäischen Wirtschaftsraumen (EWR) haben, informieren
                    wir Sie über die Folgen dieses Umstands in der Beschreibung des Angebotes.</li>
              </ol>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>Kinder </p>
            </div>

            <div class="privacy-section__privacy-text">
              <p>Unser Angebot richtet sich grundsätzlich an Erwachsene. Personen unter 18 Jahren sollten ohne Zustimmung der Eltern oder Erziehungsberechtigten
                 keine personenbezogenen Daten an uns übermitteln.</p>
            </div>

            <div class="privacy-section__privacy-titel">
              <p>Rechte der betroffenen Person </p>
            </div>

            <ol class="privacy__text-indented">
              <li>
                <p class="privacy-section__privacy-titel">Widerruf der Einwilligung</p>
                <p class="privacy-section__privacy-text">Sofern die Verarbeitung der personenbezogenen Daten auf einer erteilten Einwilligung beruht, haben Sie
                  jederzeit das Recht, die Einwilligung
                  zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung
                  nicht berührt. Für die Ausübung des Widerrufsrechts können Sie sich jederzeit an uns wenden.</p>
                </div>
              </li>
              <li>
                <p class="privacy-section__privacy-titel">Recht auf Bestätigung</p>
                <p class="privacy-section__privacy-text">Sie haben das Recht, von dem Verantwortlichen eine Bestätigung darüber zu verlangen, ob wir sie betreffende
                  personenbezogene Daten verarbeiten. Die Bestätigung können Sie jederzeit unter den oben genannten Kontaktdaten verlangen.</p>
              </li>
              <li>
                <p class="privacy-section__privacy-titel">Auskunftsrecht</p>
                <p class="privacy-section__privacy-text">Sofern personenbezogene Daten verarbeitet werden, können Sie jederzeit Auskunft über diese personenbezogenen
                  Daten und über folgenden Informationen verlangen:</p>
              </li>
            </ol>
          </div>
        </div>
    </div>

{% endblock %}
