{% extends 'dashboard_base.html' %}
{% from 'macros/form.html' import text, date, submit, cancel %}

{% block main %}

    <form class="form-box" method="POST" action="{{ url_for('event.create') }}">
        <div class="inside">

            {{ text('name', 'Namen eingeben', required=True) }}
            {{ date('date', 'Datum eingeben', required=True) }}
            {{ text('topic', 'Termingrund eingeben', required=True) }}
            {{ textarea('notes', 'Beschreibung eingeben') }}
            {{ submit('Termin speichern.') }}
            {{ cancel('Abbrechen.') }}

        </div>
    </form>

{% endblock %}
