{% extends 'dashboard_base.html' %}
{% from 'macros/form.html' import text, submit, cancel , textarea, select, datetime %}

{% block main %}

    <form class="form-box" method="POST" action="{{ url_for('event.create') }}">
        <div class="inside">

            {{ datetime('time', 'Zeit eingeben', required=True) }}
            {{ text('topic', 'Termingrund eingeben', required=True) }}
            {{ select('animal_id', animals) }}
            {{ select('doc_id', docs) }}
            {{ textarea('notes', 'Beschreibung eingeben') }}
            {{ submit('Termin speichern.') }}
            {{ cancel('Abbrechen.') }}

        </div>
    </form>

{% endblock %}
