{% extends 'dashboard_base.html' %}
{% from 'macros/icon.html' import icon %}

{% block main %}

  <div class="event-details">

    <div class="event-details__inside">

        <div class="event-details__stage">
          <img class="event-details__stage-image" src="{{ url_for('static', filename='illustration-hund.svg') }}" />
        </div>

        <div class="event-details__content">

          <div class="event-details__upcoming">
            <p class="event-details__name">{{ item.titel }}</p>
            <p class="event-details__event-titel">Anstehende Termine</p>
          </div>

          {% if item.time %}
            <div class="event-details__date-content">
              <div class="event-details__date">{{ item.time }}</div>
              <div class="event-details__topic">{{ item.topic }}</div>
            </div>
          {% endif %}

          {% if item.notes %}
            <div class="event-details__notes-content">
              <div class="event-details__event-notes">Beschreibung.</div>
              <div class="event-details__notes">{{ item.notes }}</div>
            </div>
          {% endif %}


          <a class="button event-details__button" href="{{ url_for('event.update', event_id=event.id) }}">Erinnerung bearbeiten</a>
          <form method="POST" action="{{ url_for('event.delete', event_id=event.id) }}" onsubmit="return confirm('Wirklich löschen?');">
            <button class="button">Löschen</button>
          </form>

        </div>

    </div>
  </div>

{% endblock %}
