{% extends 'dashboard_base.html' %}
{% from 'macros/event.html' import event_item %}

{% block main %}

  <div class="event-details">
    <div class="event-details__inside">

        <div class="event-details__stage">
          <img class="event-details__stage-image" src="{{ url_for('static', filename='illustration-hund.svg') }}" />
        </div>

        <div class="event-details__content">

          <div class="event-details__upcoming">
            <p class="event-details__name">{{ item.titel }}</p>
          </div>

          {% if item.time %}
            <div class="event-details__date-content">
              <div class="event-details__date">{{ event_item.time }}</div>
              <div class="event-details__topic">{{ event_item.topic }}</div>
            </div>
          {% endif %}

          {% if item.notes %}
            <div class="event-details__notes-content">
              <div class="event-details__notes__text">Beschreibung.</div>
              <div class="event-details__notes">{{ event_item.notes }}</div>
            </div>
          {% endif %}


          <a class="button event-details__button" href="{{ url_for('event.update', event_id=item.id) }}">Erinnerung bearbeiten</a>
          <form method="POST" action="{{ url_for('event.delete', event_id=item.id) }}" onsubmit="return confirm('Wirklich löschen?');">
            <button class="button">Löschen</button>
          </form>

        </div>

    </div>
  </div>

{% endblock %}
