{% extends 'dashboard_base.html' %}
{% from 'macros/icon.html' import icon %}

{% block main %}

    <div class="eventlisting">
        <div class="eventlisting__inside">

            {% for item in events %}
                <a href="{{ url_for('event.details', event_id=item.id) }}" class="eventitem eventlisting__eventitem">
                    <div class="eventitem__inside">
                        {% if item.titel %}
                            <p class="eventitem__name">{{ item.titel }}</p>
                        {% endif %}
                        {% if item.time %}
                            <p class="eventitem__date">{{ item.time.strftime('%d.%m.%Y %H:%M Uhr') }}</p>
                            <p class="eventitem__topic">{{ item.topic }}</p>
                        {% endif %}
                        {% if item.notes %}
                            <p class="eventitem__text">Beschreibung:</p>
                            <p class="eventitem__notes">{{ item.notes }}</p>
                        {% endif %}

                    </div>
                </a>
            {% endfor %}

        </div>
    </div>

{% endblock %}
