{% extends 'dashboard_base.html' %}
{% from 'macros/event.html' import event_item_short, event_item_large %}

{% block main %}

    <div class="event-listing">
        <div class="event-listing__inside">

            <p class="event-listing__title">Deine anstehenden Termine.</p>
            <p class="event-listing__subtitle">Immer alles im Blick.</p>

            <div class="event-listing__items">
                {% for item in upcoming_events %}
                    {{ event_item_large(
                        dog_name=item.Animal.name,
                        time=item.Event.time,
                        topic=item.Event.topic,
                        doc_name=item.Doc.name,
                        notes=item.Event.notes,
                        id=item.Event.id,
                        color=item.Animal.color
                    ) }}
                {% endfor %}
            </div>

            <p class="event-listing__title">Deine vergangenen Termine.</p>
            <p class="event-listing__subtitle">Alles nötige gesichert und gespeichert.</p>

            <div class="event-listing__items">
                {% for item in past_events %}
                    {{ event_item_short(
                        dog_name=item.Animal.name,
                        time=item.Event.time,
                        topic=item.Event.topic,
                        id=item.Event.id,
                        color=item.Animal.color
                    ) }}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
