{% extends 'dashboard_base.html' %}
{% from 'macros/form.html' import text, submit, cancel , textarea, select, datetime %}

{% block main %}

    <form class="form-box" method="POST" action="{{ url_for('event.update', event_id=item.id) }}">
        <div class="inside">

            {{ datetime('time', 'Zeit eingeben', required=True, value=item.time) }}
            {{ text('topic', 'Termingrund eingeben', required=True, value=item.topic) }}
            {{ select('animal_id', animals, value=item.animal_id, required=True) }}
            {{ select('doc_id', docs, value=item.doc_id, required=True) }}
            {{ textarea('notes', 'Beschreibung eingeben', value=item.notes) }}
            {{ submit('Termin speichern.') }}
            {{ cancel('Abbrechen.') }}

        </div>
    </form>

{% endblock %}
