.animal-slider__items {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}
.animal-slider__title {
    font-size: 24px;
    margin-bottom: 20px;
    @include bold;
}
.animal-slider .animal-listing-item {
    width: 300px;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    flex: 0 0 auto;
}