{% from 'macros/icon.html' import icon %}

{% macro doc_item(id, name, street, plz, city, phonenumber, email) %}
    <a href="{{ url_for('doc.details', doc_id=id) }}" class="docitem doclisting__docitem">
        <div class="docitem__inside">
            <p class="docitem__name">{{ name }}</p>
            {% if street %}
                <p class="docitem__street">{{ street }}</p>
            {% endif %}
            {% if plz or city %}
                <p class="docitem__city">{% if plz %}%{{ plz }} {% endif %}{% if city %}{{ city }}{% endif %}</p>
            {% endif %}

            <div class="iconlist docitem__iconlist">
                {% if phonenumber %}
                    <div class="iconlist__row">
                        <div class="iconlist__icon">{{ icon(name='phone-yellow.svg') }}</div>
                        <div class="iconlist__text docitem__iconlist__text">{{ phonenumber }}</div>
                    </div>
                {% endif %}

                {% if email %}
                    <div class="iconlist__row">
                        <div class="iconlist__icon">{{ icon(name='mail-yellow.svg') }}</div>
                        <div class="iconlist__text docitem__iconlist__text">{{ email }}</div>
                    </div>
                {% endif %}
            </div>

        </div>
    </a>
{% endmacro %}