{% macro text(name, placeholder, value=None, required=False) %}
  <div class="form-field">
    <input {% if value %}value="{{ value }}"{% endif %} {% if required %}required{% endif %} name="{{ name }}" type="text" placeholder="{{ placeholder }}{% if required %}*{% endif %}" />
  </div>
{% endmacro %}

{% macro float(name, placeholder, value=None, required=False) %}
  <div class="form-field">
    <input value="{% if value %}{{ value }}{% else %}0{% endif %}" {% if required %}required{% endif %} name="{{ name }}" type="number" placeholder="{{ placeholder }}{% if required %}*{% endif %}" steps="0.01" />
  </div>
{% endmacro %}

{% macro password(name="password", value=None) %}
  <div class="form-field">
    <input {% if value %}value="{{ value }}"{% endif %} {% if required %}required{% endif %} name="{{ name }}" type="password" placeholder="Passwort" />
    <img class="js--password-toggler" src="{{ url_for('static', filename='awesome-eye.svg') }}" />
  </div>
{% endmacro %}

{% macro date(name, placeholder, required=False, value=None) %}
  <div class="form-field">
    <input {% if value %}value="{{ value }} "{% endif %} {% if required %}required{% endif %} name="{{ name }}" type="date" placeholder="{{ placeholder }}{% if required %}*{% endif %}" />
  </div>
{% endmacro %}

{% macro datetime(name, placeholder, required=False, value=None) %}
  <div class="form-field">
    <input {% if value %}value="{{ value }}"{% endif %} {% if required %}required{% endif %} name="{{ name }}" type="datetime-local" placeholder="{{ placeholder }}{% if required %}*{% endif %}" />
  </div>
{% endmacro %}

{% macro textarea(name, placeholder, required=False, value=None) %}
  <div class="form-field">
    <textarea {% if required %}required{% endif %} name="{{ name }}" type="date" placeholder="{{ placeholder }}{% if required %}*{% endif %}">{% if value %}{{ value }}{% endif %}</textarea>
  </div>
{% endmacro %}

{% macro submit(text="Speichern") %}
  <div class="form-field">
    <input value="{{ text }}" type="submit" />
  </div>
{% endmacro %}

{% macro cancel(text="Abbrechen") %}
  <div class="form-field">
    <a href="#" class="button is--outlined">{{ text }}</a>
  </div>
{% endmacro %}

{% macro color(name, colors, required=False, value=None) %}
  <div class="form-field color-picker js--color-picker">
    <input type="color" name="{{ name }}" {% if required %}required{% endif %} {% if value and value == color %}value="{{ value }}"{% endif %} />
  </div>
{% endmacro %}

{% macro select(name, options, value=None, required=False) %}
  <div class="form-field">
    <select name="{{name}}" {% if required %}required{% endif %}>
      {% for option in options %}
        <option value="{{ option.value}}" {% if value == option.value %}selected{% endif %}>{{ option.label }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}
