{% extends 'dashboard_base.html' %}
{% from 'macros/form.html' import text, date, textarea, submit, cancel, color %}

{% block main %}

    <form class="form-box">
        <div class="inside">

            {{ text('name', 'Namen eingeben', true) }}
            {{ text('race', 'Rasse eingeben') }}
            {{ date('birthdate') }}
            {{ textarea('notes', 'Notizen eingeben') }}
            {{ color(colors) }}
            {{submit('Haustier speichern.')}}
            {{cancel('Abbrechen.')}}

        </div>
    </form>

{% endblock %}