{% extends 'dashboard_base.html' %}


{% block main %}

  <div class="animal-details">

    <div class="stage" style="background-color: {{item.color}}"></div>
    <div class="inside">

      <div class="head">
        <h1 class="name">{{ item.name }}</h1>
        <p class="race">{{ item.type }}</p>
      </div>

      <div class="data">
          <div class="box">
            <div class="box-inner">
              <div class="box-overlay" style="background-color: {{item.color}}"></div>
              <div class="box-content">
                <p class="type" style="color: {{item.color}}">Rasse</p>
                <p class="value" style="color: {{item.color}}">{% if item.race %}{{ item.race }}{% else %}n.A.{% endif %}</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-inner">
              <div class="box-overlay" style="background-color: {{item.color}}"></div>
              <div class="box-content">
                <p class="type" style="color: {{item.color}}">Geschlecht</p>
                <p class="value" style="color: {{item.color}}">{% if item.gender %}{{ item.gender }}{% else %}n.A.{% endif %}</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-inner">
              <div class="box-overlay" style="background-color: {{item.color}}"></div>
              <div class="box-content">
                <p class="type" style="color: {{item.color}}">Geboren</p>
                <p class="value" style="color: {{item.color}}">{% if item.birthdate %}{{ item.birthdate }}{% else %}n.A.{% endif %}</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-inner">
              <div class="box-overlay" style="background-color: {{item.color}}"></div>
              <div class="box-content">
                <p class="type" style="color: {{item.color}}">Gewicht</p>
                <p class="value" style="color: {{item.color}}">{{ item.weight }}</p>
              </div>
            </div>
          </div>

      </div>

      {% if item.notes %}
        <div class="notes">
          <p class="title">Wichtige Notizen.</p>
          <p>{{ item.notes }}</p>
        </div>
      {% endif %}

      <div class="actions">
        <a class="button">Bearbeiten</a>
        <form>
        <a class="button">Löschen</a>
        </form>
      </div>

    </div>
  </div>

{% endblock %}
