{% extends 'dashboard_base.html' %}
{% from 'macros/animal.html' import animal_item %}

{% block main %}

    <div class="animal-listing">
        <div class="inside">

            <h3 class="animal-listing__title">Deine Fellnasen.</h3>

            <div class="animal-listing__items">
                {% for animal in animals %}
                    {{ animal_item(id=animal.id, name=animal.name, type=animal.type, color=animal.color, race=animal.race) }}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
