{% extends 'dashboard_base.html' %}
{% from 'macros/form.html' import text, date, textarea, submit, cancel, color, select %}

{% block main %}

    <form class="form-box" method="POST" action="{{ url_for('animal.create') }}">
        <div class="inside">

            {{ text('name', 'Namen eingeben', required=true, value=item.name) }}
            {{  select('type', types) }}
            {{ text('race', 'Rasse eingeben', value=item.race) }}
            {{ text('weight', 'Gewicht eingeben', value=item.weight) }}
            {{ date('birthdate', value=item.birthdate) }}
            {{ textarea('notes', 'Notizen eingeben', value=item.notes) }}
            {{ color('color', colors, value=item.color) }}
            {{submit('Haustier speichern.')}}
            {{cancel('Abbrechen.')}}

        </div>
    </form>

{% endblock %}