{% extends 'dashboard_base.html' %}
{% from 'macros/form.html' import text, date, textarea, submit, cancel, color, select, float %}

{% block main %}

    <form class="form-box" method="POST" action="{{ url_for('animal.update', animal_id=item.id) }}">
        <div class="inside">

            {{ text('name', 'Namen eingeben', required=True, value=item.name) }}
            {{ select('type', types) }}
            {{ text('race', 'Rasse eingeben', value=item.race) }}
            {{ float('weight', 'Gewicht eingeben', value=item.weight) }}
            {{ date('birthdate', value=item.birthdate) }}
            {{ textarea('notes', 'Notizen eingeben', value=item.notes) }}
            {{ color('color', colors, value=item.color, required=True) }}
            {{ submit('Haustier speichern.') }}
            {{ cancel('Abbrechen.') }}

        </div>
    </form>

{% endblock %}
