<header class="header">
    <div class="inside">

        <div class="burger">
            <div class="inner">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>

        <a class="logo" href="{{ url_for('dashboard.index') }}">{{ config.APP_NAME }}</a>

    </div>
</header>

<nav class="navigation">
    <ul class="main-links links">
        <li class="link-wrapper"><a class="link" href="{{ url_for('dashboard.index') }}">Dein Dashboard.</a></li>
        <li class="link-wrapper"><a class="link" href="{{ url_for('animal.index') }}">Deine Tiere.</a></li>
        <li class="link-wrapper"><a class="link" href="{{ url_for('doc.index') }}">Deine Ärzte.</a></li>
        <li class="link-wrapper"><a class="link" href="{{ url_for('event.index') }}">Deine Erinnerungen.</a></li>
        <li class="link-wrapper"><a class="link" href="#">Dein Account.</a></li>
        <li class="link-wrapper"><a class="link" href="#">Impressum.</a></li>
        <li class="link-wrapper"><a class="link" href="{{ url_for('privacy.index') }}">Datenschutz.</a></li>
        <li class="link-wrapper"><a class="link" href="{{ url_for('logout.index') }}">Abmelden.</a></li>
    </ul>
</nav>
